<!DOCTYPE html>
<html>
    <head>
        <title>Pokemon app</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="/js/pokemon.js"></script>
         <!-- Tether, then Bootstrap JS. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Custome style -->  
        <style>
            input.ng-empty {
            background-color: lightblue;
            }
            #loader {
                position: fixed;
                display: block;
                width: 100vw;
                height: 100vh;
                background-color: rgba(192,192,192,0.7);
                z-index: 10;
            }
            #loader > img {
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            .unstyled > li:hover{
                background-color: lightblue;
            }
            .unstyled > li > span:hover{
                cursor:pointer;
            }
            .container {
                display: none;
            }
            .borderAndPading {
                border: lightgrey;
                border-style: inset;
                border-radius: 10px;
                padding: 10px;
            }
            #searchResults {
                width: 100%;
            }
            #left-side {
                float: left;
                width: 30%;
            }
            #right-side {
                float: left;
                width: 70%;
                max-width: 100%;
            }
            .unstyled {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <!-- The ng-app directive tells AngularJS that this is the root element of the AngularJS application -->
    <body ng-app="PokemonApp" ng-controller="GameController">
        <div id="loader"><img src="/img/loader.gif"/></div>
        <!-- Here begins our app in the giant with a class container running the bootstap css rules-->
        <div class="container" >
            <div class="bg-success borderAndPading" id="top">
                <!-- Title app -->
                <h1>Pokemon App</h1>
                <!-- The form for search by name  -->
                <form name="myFormForName" >
                    Type pokemon name:</br>
                    <input type="text" ng-model="name" id="name">
                    <button class="btn" ng-click="searchPokemonByName()"></i>Search</button></br>
                </form>
                <!-- The form for search by color  -->
                <form name="myFormForColor" >
                    Type color of pokemon:</br>
                    <input type="text" ng-model="color" id="color">
                    <button class="btn" ng-click="searchPokemonByColor()"></i>Search</button>
                </form>
                </br>
            </div>
            <!-- Here we print search results-->
            <h2 ng-if="apiError">{{apiError}}</h2>
            <div id="searchResults">
                <div class="d-inline-block bg-success borderAndPading" ng-if="searchByColorResult" id="left-side">
                    <button ng-if="searchByColorResult" class="btn" ng-click="sort('name')">Sort</button></br>
                    <ul class="unstyled" >
                        <li ng-if="searchByColorResult" ng-repeat="x in searchByColorResult.pokemon_species | orderBy:byName" >
                            <span ng-click="searchPokemonByName()">{{ x.name | capitalize }}</span>
                        </li>
                    </ul>
                </div>
                <div class="d-inline-block bg-success borderAndPading" id="right-side" ng-if="searchByNameImgResult" >
                    <div ng-if="searchByNameImgResult">
                        <h2>{{ searchByNameResult.name | capitalize }} :</h2>
                        <img ng-repeat="x in searchByNameImgResult" ng-if="x" ng-src="{{x}}"/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>